---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Hero from '../../components/Hero.astro';
import Values from '../../components/Values.astro';
import Matches from '../../components/Matches.astro';
import EcoleSection from '../../components/EcoleSection.astro';
import Partners from '../../components/Partners.astro';
import TikTokFeed from '../../components/TikTokFeed.astro';
import JoinCTA from '../../components/JoinCTA.astro';
import Footer from '../../components/Footer.astro';
---

<Layout locale="fr">
  <Nav locale="fr" />
  <main>
    <Hero locale="fr" />
    <Values locale="fr" />
    <Matches locale="fr" />
    <EcoleSection locale="fr" />
    <Partners locale="fr" />
    <TikTokFeed locale="fr" />
    <JoinCTA locale="fr" />
  </main>
  <Footer locale="fr" />
</Layout>
